<div class="col-md-12">
<div class='jumbotron'>
	
		<h1 class='col-md-6 col-md-offset-4' style='color: white'>Violet's Workshop</h1>
	
	
		<p class='col-md-5 col-md-offset-2' style='color: white'>Hand made crafts and custom frames</p>
	
			
</div>


<img src='https://pfollansbee.files.wordpress.com/2012/04/woodwrights-shop.jpg?w%5Cu003d780'>
</div>
